body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #000000, #1a0000);
  background-size: 200% 200%;
  animation: backgroundShift 5s infinite linear;
  transition: background 0.2s ease;
  font-family: 'Saiyan-Sans', sans-serif;
  color: white;
}

@keyframes backgroundShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.titulo h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #FFD700;
  text-shadow: 0 0 15px #FF4500, 0 0 30px #FF8C00, 0 0 45px #FFFF00;
  margin-top: 40px;
}

.titulo p {
  font-size: 1.2rem;
  text-align: center;
  color: #FFD700;
  text-shadow: 0 0 10px #FF4500;
}

.titulo a {
  justify-content: center;
  margin: 20px auto;
  padding: 12px 24px;
  font-size: 1.1rem;
  color: white;
  background: linear-gradient(to right, orange, red);
  border-radius: 12px;
  box-shadow: 0 0 12px orange;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.titulo a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px yellow, 0 0 45px orange;
}

.titulo img {
  display: block;
  max-width: 100%;
  margin: 0 auto 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 165, 0, 0.8);
}
